In [76]:
import pandas as pd
import numpy as np
import sympy as sp
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.utils import resample
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.neighbors import LocalOutlierFactor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [77]:
data = pd.read_csv('data2020.student.csv')
data = data.loc[0:999,:]

In [78]:
to_rem = []
to_cat = []
num_cols = []
cat_cols = []

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1000 non-null   int64
 1   Class   1000 non-null   float64
 2   C1      995 non-null    float64
 3   C2      996 non-null    float64
 4   C3      1000 non-null   object
 5   C4      1000 non-null   int64
 6   C5      1000 non-null   object
 7   C6      1000 non-null   int64
 8   C7      1000 non-null   object
 9   C8      1000 non-null   int64
 10  C9      1000 non-null   int64
 11  C10     1000 non-null   object
 12  C11     1000 non-null   object
 13  C12     1000 non-null   object
 14  C13     1000 non-null   int64
 15  C14     995 non-null    object
 16  C15     1000 non-null   int64
 17  C16     1000 non-null   object
 18  C17     1000 non-null   object
 19  C18     1000 non-null   object
 20  C19     996 non-null    object
 21  C20     1000 non-null   int64
 22  C21     1000 non-null   object
 23  C22     1000 non-null   int64
 24  C23     1000 non-null   object
 25  C24     1000 non-null   int64
 26  C25     1000 non-null   object
 27  C26     1000 non-null   int64
 28  C27     1000 non-null   object
 29  C28     5 non-null      float64
 30  C29     4 non-null      object
 31  C30     1000 non-null   int64
 32  C31     1000 non-null   object
 33  C32     1000 non-null   object
dtypes: float64(4), int64(12), object(18)
memory usage: 265.8+ KB

## Removing attributes with no information.

In [80]:
for col in data:
    if len(data[col].value_counts()) == 1:
        print(col)
        to_rem.append(col)
        data = data.drop(col,axis=1)

C15
C17
C21
C22

## Determining object attributes that should be categorical

In [81]:
for col in data.select_dtypes(include=object):
    data[col] = data[col].astype('category')
    to_cat.append(col)

## Determining numeric attributes that should be categrocial

In [82]:
for col in data.select_dtypes(include=np.number):
    if data[col].nunique() < 5:
        data[col] = data[col].astype('category')
        to_cat.append(col)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1000 non-null   int64
 1   Class   1000 non-null   category
 2   C1      995 non-null    float64
 3   C2      996 non-null    category
 4   C3      1000 non-null   category
 5   C4      1000 non-null   category
 6   C5      1000 non-null   category
 7   C6      1000 non-null   int64
 8   C7      1000 non-null   category
 9   C8      1000 non-null   int64
 10  C9      1000 non-null   category
 11  C10     1000 non-null   category
 12  C11     1000 non-null   category
 13  C12     1000 non-null   category
 14  C13     1000 non-null   int64
 15  C14     995 non-null    category
 16  C16     1000 non-null   category
 17  C18     1000 non-null   category
 18  C19     996 non-null    category
 19  C20     1000 non-null   int64
 20  C23     1000 non-null   category
 21  C24     1000 non-null   category
 22  C25     1000 non-null   category
 23  C26     1000 non-null   int64
 24  C27     1000 non-null   category
 25  C28     5 non-null      category
 26  C29     4 non-null      category
 27  C30     1000 non-null   int64
 28  C31     1000 non-null   category
 29  C32     1000 non-null   category
dtypes: category(22), float64(1), int64(7)
memory usage: 87.7 KB

## Setting major missing entries to dummy variables

In [84]:
for col in data:
    if (data[col].isnull().sum() / data.shape[0]) > 0.05:
        if pd.api.types.is_categorical(data[col]):
            data[col] = data[col].cat.add_categories('Unknown')
            data[col] = data[col].fillna('Unknown')
        elif pd.api.types.is_number(data[col]):
            data[col].fillna(0)

## Dropping small numbers of missing entries

In [85]:
data = data.dropna()

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 982 entries, 0 to 999
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      982 non-null    int64
 1   Class   982 non-null    category
 2   C1      982 non-null    float64
 3   C2      982 non-null    category
 4   C3      982 non-null    category
 5   C4      982 non-null    category
 6   C5      982 non-null    category
 7   C6      982 non-null    int64
 8   C7      982 non-null    category
 9   C8      982 non-null    int64
 10  C9      982 non-null    category
 11  C10     982 non-null    category
 12  C11     982 non-null    category
 13  C12     982 non-null    category
 14  C13     982 non-null    int64
 15  C14     982 non-null    category
 16  C16     982 non-null    category
 17  C18     982 non-null    category
 18  C19     982 non-null    category
 19  C20     982 non-null    int64
 20  C23     982 non-null    category
 21  C24     982 non-null    category
 22  C25     982 non-null    category
 23  C26     982 non-null    int64
 24  C27     982 non-null    category
 25  C28     982 non-null    category
 26  C29     982 non-null    category
 27  C30     982 non-null    int64
 28  C31     982 non-null    category
 29  C32     982 non-null    category
dtypes: category(22), float64(1), int64(7)
memory usage: 93.9 KB

## Removing ID column

In [87]:
data = data.drop('ID',1)

## Removing duplicate data

In [88]:
data = data.drop_duplicates()

## Determining linearly independent numeric columns

In [89]:
reduced_form, inds = sp.Matrix(data.select_dtypes(include=np.number)).rref()
print('Columns: ' + str(data.select_dtypes(include=np.number).columns))
print('Independent Columns: ' + str(inds))
cols = data.select_dtypes(include=np.number).columns
for i in range(0,len(cols)):
    if i not in inds:
        data = data.drop(cols[i],axis=1)

Columns: Index(['C1', 'C6', 'C8', 'C13', 'C20', 'C26', 'C30'], dtype='object')
Independent Columns: (0, 2, 3, 4, 5)

## Assigning columns to categorical or numeric

In [90]:
for col in data:
    if pd.api.types.is_numeric_dtype(data[col]):
        num_cols.append(col)
    elif col != 'Class':
        cat_cols.append(col)

## Performing hot encoding

In [91]:
dataEnc = OneHotEncoder().fit(data[cat_cols].astype(str))
data = data.reset_index()

In [92]:
data = data.drop(cat_cols,axis=1).join(pd.DataFrame(dataEnc.transform(data[cat_cols].astype(str)).toarray()))

## Resampling to adjust for class imbalance

In [93]:
data['Class'].value_counts()

0.0    636
1.0    246
Name: Class, dtype: int64

In [94]:
data = data.loc[data['Class']==0,:].append(resample(data.loc[data['Class']==1,:], replace = True, n_samples = 636, random_state = 76))
data['Class'].value_counts()

1.0    636
0.0    636
Name: Class, dtype: int64

## Splitting test and training

In [95]:
train_data, test_data = train_test_split(data,test_size = 0.15,random_state = 21)

## Standardising numeric training and test data

In [96]:
dataScaler = StandardScaler().fit(train_data[num_cols])

In [97]:
train_data[num_cols] = dataScaler.transform(train_data[num_cols])
test_data[num_cols] = dataScaler.transform(test_data[num_cols])

## Performing PCA on data

In [98]:
dataPCA = PCA().fit(train_data[num_cols])

In [99]:
train_data[num_cols] = dataPCA.transform(train_data[num_cols])
test_data[num_cols] = dataPCA.transform(test_data[num_cols])

In [100]:
train_data[num_cols].cov()

               C1            C8           C13           C20           C26
C1   1.679151e+00 -3.404684e-16 -4.605370e-16 -3.293662e-16 -3.026386e-16
C8  -3.404684e-16  1.042176e+00  2.878356e-16 -2.500058e-16  7.195890e-18
C13 -4.605370e-16  2.878356e-16  1.023662e+00  8.137524e-16  5.098802e-17
C20 -3.293662e-16 -2.500058e-16  8.137524e-16  8.962536e-01 -8.635068e-18
C26 -3.026386e-16  7.195890e-18  5.098802e-17 -8.635068e-18  3.633868e-01

## Using LOF to remove outliers

In [101]:
cLOF = LocalOutlierFactor(n_neighbors=6,metric='manhattan').fit_predict(train_data)
train_data = train_data.loc[cLOF==1,:]

## Performing cluster analysis

In [102]:
kmeans = KMeans(n_clusters=6,random_state=67).fit(train_data)

In [103]:
train_data['Cluster'] = kmeans.predict(train_data)
test_data['Cluster'] = kmeans.predict(test_data)

## Test analysis

In [104]:
x_train = train_data.drop('Class',axis=1)
y_train = train_data['Class']
x_test = test_data.drop('Class',axis=1)
y_test = test_data['Class']

k-Nearest Neighbours Classifier

In [105]:
knn = KNeighborsClassifier().fit(x_train,y_train)

In [106]:
sum(knn.predict(x_test) == y_test)/len(y_test)

0.7068062827225131

Logistic Regression

In [107]:
clf = LogisticRegression().fit(x_train,y_train)

In [108]:
sum(clf.predict(x_test) == y_test)/len(y_test)

0.743455497382199

Neural Network

In [109]:
cnn = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(70, 10)).fit(x_train,y_train)

In [110]:
sum(cnn.predict(x_test) == y_test)/len(y_test)

0.5026178010471204

Random Forest

In [111]:
crf = RandomForestClassifier().fit(x_train,y_train)

In [112]:
sum(crf.predict(x_test) == y_test)/len(y_test)

0.9057591623036649

Medley Model

## TODO 
- Optimise hyper-parameters
- Experiment with further medley models